@model PreduzeceProjektniCentar.Models.KontaktBO

@{
    ViewBag.Title = "DeleteKontakt";
}

<h2>DeleteKontakt</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KontaktBO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KontaktID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KontaktID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RadnoMesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RadnoMesto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
